# URL of the realtime server (server/ folder) you deployed.
VITE_SOCKET_URL=http://localhost:3001

# WebRTC ICE servers (Google STUN + Metered OpenRelay STUN/TURN).
VITE_STUN_SERVER=stun:stun.l.google.com:19302,stun:openrelay.metered.ca:80
VITE_TURN_SERVER=turn:openrelay.metered.ca:80,turn:openrelay.metered.ca:443,turn:openrelay.metered.ca:443?transport=tcp,turns:openrelay.metered.ca:443?transport=tcp
VITE_TURN_USERNAME=openrelayproject
VITE_TURN_PASSWORD=openrelayproject
